
/* base */
	body { background-color: #F5F5F5; }


/* propeller - reset */
	.breadcrumb { 
		margin-bottom: 0px; 
		border-radius: 0px;
	}
	.alert { margin-bottom: 0px; }

	.tab-pane { padding: 20px; }


/* reset */
	.projectx-col {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	#projectx-sidenav {
		height: 100%;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		width: 0px;
		background-color: #313944;
	}

	#projectx-content {
		transition: margin-left .5s;
		margin-left: 0px;
		background-color: #F0F1F5;
	}


/* sidenave - specifics */
	.projectx-side-header {
		background-color: #FFFEFE;
		height: 320px;
		padding: 40px;
		margin: 0px;
	}

	.projectx-nextTrigger { 
		margin: 0px;
		padding: 0px;
		line-height: 1;
	}

	.projectx-side-header > p {
		text-align: center;
		color: #BBBBBB;
		margin-top: 10px;
	}

	.projectx-side-header h4 {
		margin: 0px;
		padding: 0px;
		line-height: 1;
		text-align: center;
		border-bottom: 1px solid #E1EBF8;
		padding-bottom: 10px;
	}

	.projectx-side-notes {
		height: 100px;
		background-color: #09AA9A;
		padding: 0px 10px 0px 10px;
	}

	.projectx-side-notes img {
		border-radius: 50%;
		border: 3px solid #F5EEE8;
		display: inline-block;
		margin-top: 20px;
		position: absolute;
	}

	.projectx-side-notes .projectx-user-desc {
		display: inline-block;
		margin: 0px 0px 0px 70px;
		padding: 0px;
		color: #F5EEE8;
		text-align: left;
	}

	.projectx-side-notes .projectx-user-desc > .projectx-name {
		display: inline-block;
		padding: 0px;
		color: #F5F5F5;
	}

	.projectx-list > .list-group-item {
		border-radius: 0px !important;
		border: none;
		color: #C1D2ED;
		background-color: transparent;
		font-size: 11pt;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.projectx-list > .list-group-item .glyphicon { margin-right: 10px; }

	.projectx-list > .list-group-item.active {
		background-color: #2196f3;
		color: #F5F5F5;
		font-weight: 500;
	}


/* main content */
	.project-x-navbar {
		border-radius: 0px;
		background-color: #313944;
		color: #F7E5D7;
	}

	td > .label { margin-left: 5px; }

	.tab-pane > .form-group:not(:first-child) {
		margin-top: 30px;
	}

	/* *[data-toggle="popover"], *[data-ident="steps"],  */
	label[data-toggle="popover"], .icon-popover {
		cursor: pointer;
		margin-left: 10px;
	}

	label[data-toggle="popover"]:hover { text-decoration: underline; }

	.project-x-banner {
		height: 400px;
		background: url('../img/bg3.jpeg') no-repeat center center;
		background-size: cover;
		margin-top: -23px;
		color: #fff;
	}

	/* home icons */
	.project-x-homeIcon {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 5rem;
	}

	.project-x-contentHome { padding: 30px 6% 30px 6%; }

	.project-x-contentHome a { text-decoration: none; }


/* Larger than mobile */
	@media (min-width: 400px) {
		#projectx-sidenav.active { width: 230px; }
		#projectx-content.active { margin-left: 230px; }

		.projectx-side-notes .projectx-user-desc > .projectx-name { 
			font-size: 12pt; 
			line-height: 1.2; 
			margin: 20px 0px 0px 0px !important;
		}
		/*.projectx-side-notes .projectx-user-desc > span { display: none; }*/
	}

/* Larger than phablet (also point when grid becomes active) */
	@media (min-width: 550px) {}

/* Larger than tablet */
	@media (min-width: 750px) {
		#projectx-sidenav.active { width: 300px; }
		#projectx-content.active { margin-left: 300px; }

		.projectx-side-notes .projectx-user-desc > .projectx-name { 
			font-size: 15pt; 
			line-height: 1;
			margin: 30px 0px 0px 0px !important; 
		}
		.projectx-side-notes .projectx-user-desc > span { display: inline-block; }
	}

/* Larger than desktop */
	@media (min-width: 1000px) {}

/* Larger than Desktop HD */
	@media (min-width: 1200px) {}
