
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Title specifics -->
		<title>Project - X - v 1.0.0</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- Bootstrap Material Design - Paper - Bootswatch -->
		<link rel="stylesheet" type="text/css" href="../css/bootrap-paper.min.css">

		<!-- project x - css -->
		<link rel="stylesheet" href="http://ricostacruz.com/nprogress/nprogress.css">
		<link rel="stylesheet" type="text/css" href="../css/project-x.css">

		<!-- https://linearicons.com/free#cdn -->
		<link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

		<!-- vuejs dependency -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/vue-chartjs@2.6.0/dist/vue-chartjs.full.min.js"></script>
		<script src="http://ricostacruz.com/nprogress/nprogress.js"></script>
		
		<!-- JS Dependencies -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body>
		
		<div id="projectx-main-vue">
			<div v-cloak>
				<div id="projectx-sidenav">
					<div class="projectx-side-header">
						<h4><small>Project - </small><b>X</b></h4>
						<p>Start mining your future...</p>

						<center>
							<!-- <span>{{ timeIn_12format }}</span> -->
							<span>Current Time:</span>
							<h3 class="projectx-nextTrigger">{{ timeIn_24format }}</h3>
						</center>
						<br>

						<center>
							<span>Server Time</span>
							<h3 class="projectx-nextTrigger">{{ triggerCountDown }}</h3>
							<span>Next Trigger at <a href="@">{{ nextTrigger }}</a></span>
						</center>
					</div>
					<div class="projectx-side-notes">
						<img src="https://placeimg.com/50/50/people/1">
						<div class="projectx-user-desc">
							<span class="projectx-name">Project X Inc.</span>
							<span>support-px@gmail.com</span>
						</div>
					</div>
					<div class="projectx-side-body">
						<div class="list-group projectx-list">
							<a href="#" class="list-group-item" data-toggle="modal" data-target="#termsModal">
								<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Terms of Service
								<span data-ident="steps" data-id="step-tour-2" data-container="body" data-placement="right" data-content="This is where you can check & review information regarding the app's Terms of Service. You may also direct questions to our support team for further assistance.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-1' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-3' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">&nbsp;</span>
							</a>
							<!-- active -->
							<a href="#" class="list-group-item" data-toggle="modal" data-target="#manualModal">
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span> User Manual
								<span data-ident="steps" data-id="step-tour-3" data-container="body" data-placement="right" data-content="For further readings and FAQs, you may find it in our User Manual page.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-2' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-4' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">&nbsp;</span>
							</a>
						</div>
					</div>
				</div>

				<div id="projectx-content">
					<nav class="navbar navbar-inverse project-x-navbar">
						<div class="container-fluid">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-hidden-view">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>

							<div class="collapse navbar-collapse" id="navbar-hidden-view">
								<ul class="nav navbar-nav">
									<li v-on:click="toggleNav();">
										<a href="#">
											<span class="glyphicon glyphicon-chevron-left" id="closeNav" v-if="navStatus == true" aria-hidden="true"></span>
											<span class="glyphicon glyphicon-chevron-right" id="openNav" v-if="navStatus == false" aria-hidden="true"></span>
										</a>
									</li>
									<li v-on:click="showView('home');" :class="{'active': (activeView == 'home')}"><a href="#">Home</a></li>
									<li v-on:click="showView('analytics');" :class="{'active': (activeView == 'analytics')}">
										<a href="#">
										Analytics
										<span data-ident="steps" data-id="step-tour-4" data-container="body" data-placement="bottom" data-content="The <b>Analytics</b> page is where you can view and monitor your schedules. Through this, you can see the trends of your lead finders (a.k.a Schedules) and make better judgement and strategies to further improve your leads.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-3' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-5' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">&nbsp;</span>
										</a>
									</li>
									<li v-on:click="showView('templates');" :class="{'active': (activeView == 'templates')}">
										<a href="#">
										Templates
										<span data-ident="steps" data-id="step-tour-5" data-container="body" data-placement="bottom" data-content="The <b>Templates</b> page is where you write and prepare your message templates. You'll be using these templates for sending automated messages to your leads.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-4' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-6' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">&nbsp;</span>
										</a>
									</li>
									<!-- Send automated connections using search keywords + note - specify recipients by result of search -->
									<!-- Send automated messages to own network - specify recipients by name -->
									<li v-on:click="showView('leadFinder');" :class="{'active': (activeView == 'leadFinder')}">
										<a href="#">
										Lead Finder
										<span data-ident="steps" data-id="step-tour-6" data-container="body" data-placement="bottom" data-content="The <b>Lead Finder</b> page serves as your avenue for creating and managing your schedules. These shedules are automated tasks for sending templated messages on specific groups of people (or leads). You may send notification, invitation, followup, and/or promotion messages to specific leads and grow your market niche to your advantage.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-5' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-7' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">&nbsp;</span>
										</a>
									</li>
									<li v-on:click="showView('settings');" :class="{'active': (activeView == 'settings')}">
										<a href="#">
										Settings
										<span data-ident="steps" data-id="step-tour-7" data-container="body" data-placement="bottom" data-content="You can activate your license key here by filling up the form. Remember to activate your account as soon as you got your license. Your app will only work after your account has been successfully activated.<hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' id='step-tour-6' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-left'></span></button><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button></center>">&nbsp;</span>
										</a>
									</li>
									<!-- View reply on "other user viewed your profile" and "other user accepted connection request" -->
									<!-- <li v-on:click="showView('notifications');"><a href="#">Notifications</a></li> -->
								</ul>
								<ul class="nav navbar-nav pull-right">
									<!-- cannot be refreshed during trigger hour -->
									<li onclick="if(projectx.enableRefresh != true){ location.reload(); }else{ console.log(projectx.enableRefresh); }"><a href="#"><span class="glyphicon glyphicon-refresh"></span></a></li>
								</ul>
							</div>
						</div>
					</nav>

					<div class="container-fluid">
						<!-- home -->
							<div class="row" id="home" v-if="activeView == 'home'">
								<!-- banner -->
								<div class="col-xl-12 project-x-banner">
									<center>
										<h1 style="font-weight:light;margin:0px;padding-top:12%;color:#fff;letter-spacing:2px;">Projext - X</h1>
										<br>
										<h5 style="font-weight:light;margin:0px;color:#fff;letter-spacing:3px;">- Your Lead Finding Buddy -</h5>
									</center>
								</div>

								<!-- content -->
								<div class="col-xl-12">
									<div class="project-x-contentHome">
										<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<center>
														<span class="lnr lnr-paw project-x-homeIcon"></span>
														<h5><a href="#" data-ident="steps" data-id="step-tour-1" data-container="body" data-placement="top" data-content="Hi! Welcome to Project-X.<br>Let's get you toured. <hr><center><div class='btn-group btn-group-sm'><button class='btn btn-default' onclick='projectx.hideSteps();'><span class='glyphicon glyphicon-stop'></span></button><button class='btn btn-default' id='step-tour-2' onclick='tourStep(this.id);'><span class='glyphicon glyphicon-triangle-right'></span></button></div></center>">- App Tour -</a></h5>
														<small>Familiarize & learn the benefits as well as the functionalities of the app</small>
													</center>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<center>
														<span class="lnr lnr-phone project-x-homeIcon"></span>
														<h5><a href="#">- Support -</a></h5>
														<small>Lost? Confused? Contact our support now!<br><a href="#">support-px@gmail.com</a></small>
													</center>
												</div>
											</div>
										</div>
										<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<center>
														<span class="lnr lnr-heart-pulse project-x-homeIcon"></span>
														<h5><a href="#" data-toggle="modal" data-target="#xpressModal">- Get Started! -</a></h5>
														<small>Start your templates & schedules faster with our <a href="#" data-toggle="modal" data-target="#xpressModal">X-PRESS &nbsp;<span class="label label-default" style="font-weight:normal;">Beta</span></a></small>
													</center>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						<!-- analytics -->
							<div class="row" id="analytics" v-if="activeView == 'analytics'">
								<div class="col-lg-12 projectx-content-crumbs">
									<h4>
										Analytics
										<small><span class="label label-default" style="font-weight:normal;">Beta</span></small>
										<span class="pull-right">
											<small class="text-muted">Server Time: </small>&nbsp;&nbsp;{{ triggerCountDown }}
										</span>
									</h4>
								</div>
								<div class="col-lg-12 projectx-content-tabs">
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<ul class="nav nav-tabs">
														<li class="active"><a href="#analytics_Timeline" data-toggle="tab" v-on:click="hideSteps();getAnalytics();"><b>Timeline</b></a></li>
														<li><a href="#analytics_Invites" data-toggle="tab" v-on:click="hideSteps();getAnalytics_daily(invites_date, 'sendInvite', invites_data, invites_data_users);"><b>Connection Invites</b></a></li>
														<li><a href="#analytics_Messages" data-toggle="tab" v-on:click="hideSteps();getAnalytics_daily(sendMessage_date, 'sendMessage', sendMessage_data, sendMessage_data_users);"><b>Network Mails</b></a></li>
														<li><a href="#analytics_Profile" data-toggle="tab" v-on:click="hideSteps();getAnalytics_daily(profileView_date, 'profileView', profileView_data, profileView_data_users);"><b>Profile Visit</b></a></li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane fade active in" id="analytics_Timeline">
															<h5>Success Jobs <small>for the past 7 days</small></h5>
															<line-chart :options="{responsive: true, maintainAspectRatio: false}" :data="timeLine_Data"></line-chart>
														</div>
														<div class="tab-pane fade" id="analytics_Invites">
															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<pie-chart :options="{responsive: true}" :data="invites_data"></pie-chart>
															</div>

															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<div class="form-group">
																	<input class="form-control" type="date" v-model="invites_date" v-on:change="getAnalytics_daily(invites_date, 'sendInvite', invites_data, invites_data_users);">
																</div>
																<div style="overflow-x:auto;width: 100%;max-height:300px;">
																	<table class="table table-striped table-hover">
																		<thead>
																			<tr>
																				<th>Recipient</th>
																				<th>Status</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr v-for="(nth, index) in invites_data_users" :key="index">
																				<td>{{ nth["name"] }}</td>
																				<td>{{ nth["status"] }}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<small>Total:</small> {{ invites_data_users.length }}
															</div>
														</div>
														<div class="tab-pane fade" id="analytics_Messages">
															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<pie-chart :options="{responsive: true}" :data="sendMessage_data"></pie-chart>
															</div>
															
															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<div class="form-group">
																	<input class="form-control" type="date" v-model="sendMessage_date" v-on:change="getAnalytics_daily(sendMessage_date, 'sendMessage', sendMessage_data, sendMessage_data_users);">
																</div>
																<div style="overflow-x:auto;width: 100%;max-height:300px;">
																	<table class="table table-striped table-hover ">
																		<thead>
																			<tr>
																				<th>Recipient</th>
																				<th>Status</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr v-for="(nth, index) in sendMessage_data_users" :key="index">
																				<td>{{ nth["name"] }}</td>
																				<td>{{ nth["status"] }}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<small>Total:</small> {{ sendMessage_data_users.length }}
															</div>
														</div>
														<div class="tab-pane fade" id="analytics_Profile">
															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<pie-chart :options="{responsive: true}" :data="profileView_data"></pie-chart>
															</div>
															
															<div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
																<div class="form-group">
																	<input class="form-control" type="date" v-model="profileView_date" v-on:change="getAnalytics_daily(profileView_date, 'profileView', profileView_data, profileView_data_users);">
																</div>
																<div style="overflow-x:auto;width: 100%;max-height:300px;">
																	<table class="table table-striped table-hover ">
																		<thead>
																			<tr>
																				<th>Recipient</th>
																				<th>Status</th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr v-for="(nth, index) in profileView_data_users" :key="index">
																				<td>{{ nth["name"] }}</td>
																				<td>{{ nth["status"] }}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
																<small>Total:</small> {{ profileView_data_users.length }}
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<!-- leadfinder - Invite Summary -->
									<!-- <div class="row">
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-11">
											<h4>Sent Invites</h4>
											<line-chart style="max-height:300px;" :options="{responsive: true, maintainAspectRatio: false, scales: { xAxes: [{ barPercentage: 0.5 }] }}" :data="GraphData"></line-chart>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="form-group">
														<input class="form-control" type="date">
													</div>
													<div style="overflow-x:auto;width: 100%;max-height:300px;">
														<table class="table table-striped table-hover ">
															<thead>
																<tr>
																	<th>Recipient</th>
																	<th>Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Column content</td>
																	<td>Column content</td>
																</tr>
																<tr>
																	<td>Column content</td>
																	<td>Column content</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>

									<hr> -->
									
									<!-- lead finders - sent messages -->
									<!-- <div class="row">
										<div class="col-lg-8 col-md-8 col-sm-8 col-xs-11">
											<h4>Sent Messages</h4>
											<line-chart :options="{responsive: true, maintainAspectRatio: false}" :data="GraphData"></line-chart>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="form-group">
														<input class="form-control" type="date">
													</div>
													<div style="overflow-x:auto;width: 100%;max-height:300px;">
														<table class="table table-striped table-hover ">
															<thead>
																<tr>
																	<th>Recipient</th>
																	<th>Status</th>
																</tr>
															</thead>
															<tbody>
																<tr>
																	<td>Column content</td>
																	<td>Column content</td>
																</tr>
																<tr>
																	<td>Column content</td>
																	<td>Column content</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div> -->
								</div>
							</div>

						<!-- settings -->
							<div class="row" id="settings" v-if="activeView == 'settings'">
								<div class="col-lg-5 col-md-6 col-sm-6">
									<div class="panel panel-default">
										<div class="panel-body">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#genSettings" data-toggle="tab"><b>General Settings</b></a></li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane fade active in" id="genSettings">
													<div class="form-group">
														<label class="control-label">License Key</label>
														<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-gs-1')"></span>
														<input class="form-control" type="text" v-model="generalSettings['license']" oncopy="return false" :disabled="generalSettings['status']" data-container="body"  data-ident="steps" data-id="step-gs-1" data-placement="right" data-content="<small>Your license key is your unique ID and will serve as your activation number. Once your key has been activated, it cannot be re-used.<br><br>Refer to the <a href='#'><i>License Agreement</i></a> for more info.</small>">
													</div>
													<div class="form-group">
														<label class="control-label">Email</label>
														<input class="form-control" type="email" v-model="generalSettings['email']">
													</div>
													<div class="form-group">
														<label class="control-label">Password</label>
														<input class="form-control" type="password" v-model="generalSettings['password']" oncopy="return false" onpaste="return false">
													</div>
													<div class="form-group pull-right">
														<span>
															You are remotely 
															<span v-if="generalSettings['remoteStatus']" class="label label-primary">ACTIVE</span>
															<span v-if="!generalSettings['remoteStatus']" class="label label-danger">INACTIVE</span>
														</span>
														&nbsp;&nbsp;&nbsp;
														<button type="submit" class="btn btn-primary" v-on:click="activateUser();" :disabled="generalSettings['remoteStatus']">Activate</button>
														<button type="submit" class="btn btn-success" v-on:click="saveCredentials('{ \'license\': \'' + generalSettings['license'] + '\' }', '/../config/local.json');" :disabled="generalSettings['status']">Save</button>
														<button type="submit" class="btn btn-danger" v-on:click="resetCredentials('/../config/local.json');" :disabled="!generalSettings['status']">Reset</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						<!-- templates -->
							<div class="row" id="templates" v-if="activeView == 'templates'">
								<div class="col-lg-12 projectx-content-crumbs">
									<h4 style="display:inline-block">Message Templates</h4>
									<div class="pull-right">
										<label data-container="body" data-toggle="popover" data-placement="left" data-content="<small>This feature allows you to create message templates that will be sent to your targets through your <a href='#' id='leadFinder' onclick='showView(this.id);'>Schedules</a>.</small>">What &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
										<label data-container="body" data-toggle="popover" data-placement="left" data-content="<small>Save time & make your targets feel special by preparing custom message templates for different occassions and target groups.</small>">Benefits &nbsp;<span class="glyphicon glyphicon-check"></span></label>
										<label data-container="body" data-toggle="popover" data-placement="left" data-content="<small>Follow through the steps on how to fill-up the form and click save.</small>" v-on:click="showSpecificSteps(['step-1','step-2','step-3']);">How &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
									</div>
								</div>
								<div class="col-lg-12 projectx-content-tabs">
									<div class="row">
										<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="form-group">
														<label class="control-label">Title</label>
														<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-1')"></span>
														<input class="form-control" type="text" v-model="currentTemplate['title']" v-on:blur="hideStep('step-1')" v-on:focus="hideStep('step-1')" data-ident="steps" data-id="step-1" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 1:</b><br>For faster searching and convenience, assign and keep your titles UNIQUE as much as possible.</small>">
													</div>

													<div class="form-group">
														<label class="control-label">Message</label>
														<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-2')"></span>
														<br>
														<small><i>Use {name} to substitute recipient name upon sending</i></small>
														<textarea class="form-control" rows="5" v-model="currentTemplate['message']" v-on:blur="hideStep('step-2')" v-on:focus="hideStep('step-2')" data-ident="steps" data-id="step-2" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 2:</b><br>Write a short but informative message.Use {name} to insert name of recipient upon sending.<br>Ex: Hi {name}!</small>"></textarea>
													</div>

													<div class="form-group">
														<label class="control-label">Comments</label>
														<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-3')"></span>
														<textarea class="form-control" rows="2" v-model="currentTemplate['details']" v-on:blur="hideStep('step-3')" v-on:focus="hideStep('step-3')" data-ident="steps" data-id="step-3" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 3:</b><br>Help yourself be reminded by writing comments on this template.</small>"></textarea>
														<span class="help-block">ID: <span>{{ currentTemplate["template"] }}</span></span>
													</div>

													<div class="form-group pull-right">
														<button type="submit" class="btn btn-warning" v-on:click="unstageTemplate();">Cancel <span class="glyphicon glyphicon-remove"></span></button>
														<button type="submit" class="btn btn-primary" v-on:click="upsertEmailTemplate();">Save <span class="glyphicon glyphicon-save"></span></button>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<div class="form-group">
														<label class="control-label">Filter</label>
														<input class="form-control input-sm" type="text" placeholder="Search..." v-model="search_emailTemplate">
													</div>
													<hr>

													<div style="overflow-x:auto;width: 100%;">
														<table class="table table-striped table-hover">
															<thead>
																<tr>
																	<th>Template</th>
																	<th>&nbsp;</th>
																</tr>
															</thead>
															<tbody>
																<tr v-for="(nth, index) in emailTemplateList" :key="index">
																	<td><p>{{ nth["_title"] }}<br><small>{{ nth["_log_created"].split("T")[0] }}</small></p></td>
																	<td>
																		<button class="btn btn-success btn-sm" title="Edit Template" v-on:click="stageTemplate(nth);"><span class="glyphicon glyphicon-edit"></span></button>
																		<button class="btn btn-danger btn-sm" title="Delete Template" v-on:click="deleteEmailTemplate(nth);"><span class="glyphicon glyphicon-trash"></span></button>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						<!-- lead finder -->
							<div class="row" id="leadFinder" v-if="activeView == 'leadFinder'">
								<div class="col-lg-12 projectx-content-crumbs">
									<h4>
										Lead Finder
										<span class="pull-right">
											<small class="text-muted">Server Time: </small>&nbsp;&nbsp;{{ triggerCountDown }}
										</span>
									</h4>

									<div class="alert alert-dismissible alert-success" style="margin-bottom:15px;">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										<p>Reminder: <br>All users you send connection invites or messages are automatically notified of you viewing their profile. <!-- Also, you automatically follow him/her on twitter. --></p>
									</div>
								</div>
								<div class="col-lg-12 projectx-content-tabs">
									<div class="row">
										<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<ul class="nav nav-tabs">
														<li class="active"><a href="#schedules_leadfinder" data-toggle="tab" v-on:click="hideSteps();"><b>Schedules</b></a></li>
														<li><a href="#scheduler_connectionInvite" data-toggle="tab" v-on:click="hideSteps();"><b>Connection Invites</b></a></li>
														<li><a href="#scheduler_inNetworkMessages" data-toggle="tab" v-on:click="hideSteps();"><b>Network Mails</b></a></li>
													</ul>
													<div class="tab-content">
														<div class="tab-pane fade" id="scheduler_connectionInvite">
															<div class="pull-right">
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>This (Connection Invite) is the type of schedule that sends invititation requests to people found using your search key (Step 3).</small>">What &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>Through this feature, your network invites will be targeted to specific groups of people that are potential leads for your service or market niche.</small>">Benefits &nbsp;<span class="glyphicon glyphicon-check"></span></label>
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>Follow through the steps on how to fill-up the form and click save.</small>" v-on:click="showSpecificSteps(['step-a1','step-a2','step-a3','step-a4','step-a5']);">How &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
															</div>
															<form>
															<div class="form-group">
																<label class="control-label">Schedule Title</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-a1')"></span>
																<input class="form-control" type="text" v-model="currentSchedule_LeadFinder_sendConnection['title']" v-on:blur="hideStep('step-a1')" v-on:focus="hideStep('step-a1')" data-ident="steps" data-id="step-a1" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 1:</b><br>Its best to name your schedules with unique and short description of the group/lead your are targetting.</small>">
															</div>

															<div class="form-group">
																<label class="control-label">Message Template</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-a2')"></span>
																<select class="form-control" v-model="currentSchedule_LeadFinder_sendConnection['template_id']" v-on:blur="hideStep('step-a2')" v-on:focus="hideStep('step-a2')" data-ident="steps" data-id="step-a2" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 2:</b><br>Select the best note to send your targates or write a new one in the <a href='#' id='templates' onclick='showView(this.id);'>templates</a> section.</small>">
																	<option v-for="nth in emailTemplates" v-bind:value="nth['_template']">{{ nth['_title'] }}</option>
																</select>
															</div>

															<div class="form-group">
																<label class="control-label">Search Key</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-a3')"></span><br>
																<small><i>Enter keywords to find reciepients you would like to send the template to</i></small><br>
																<small>Ex [Name]: <u>JSON</u> or <u>John Doe</u></small><br>
																<small>Ex [Position]: <u>Business Manager</u> or <u>CEO + International + Inc.</u></small><br>
																<small>Ex [Name + Position]: <u>JOHN DOE + CEO</u></small>
																<input class="form-control" type="text" placeholder="Search term ..." v-model="currentSchedule_LeadFinder_sendConnection['recipients']['searchKey']" v-on:blur="hideStep('step-a3')" v-on:focus="hideStep('step-a3')" data-ident="steps" data-id="step-a3" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 3:</b><br>To achieve good results, use direct and effective keywords that best fits to your expexted target result (position, job title, name, etc).<br><br>Better check your keywords in the 'Leads' search panel.</small>">
															</div>

															<div class="form-group">
																<label class="control-label">Select No. of Recipients (Max: 40)</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-a4')"></span>
																<input class="form-control" type="number" placeholder="Number of recipients" min="1" max="40" v-model="currentSchedule_LeadFinder_sendConnection['recipients']['n_recipients']" v-on:blur="currentSchedule_LeadFinder_sendConnection['recipients']['n_recipients'] = parseInt(currentSchedule_LeadFinder_sendConnection['recipients']['n_recipients']);hideStep('step-a4')" v-on:focus="hideStep('step-a4')" data-ident="steps" data-id="step-a4" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 4:</b><br>Select maximum number of people to invite from the result. Remember that the number of effective results is dependent to how well you have constructed your search key.</small>">
															</div>

															<div class="form-group">
																<label class="control-label">Trigger</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-a5')"></span>
																<select class="form-control" v-model="currentSchedule_LeadFinder_sendConnection['trigger']" v-on:blur="hideStep('step-a5')" v-on:focus="hideStep('step-a5')" data-ident="steps" data-id="step-a5" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 5:</b><br>Properly consider how often you trigger your invites, linkedin has a max of 30,000 connections. You might miss a good amount of leads if you max out your connections.</small>">
																	<option v-for="nth in triggerOptions" v-bind:value="nth['_trigger']">{{ nth['_event'] }}</option>
																</select>
															</div>

															<div class="form-group">
																
															</div>

															<div class="form-group pull-right">
																<button type="reset" class="btn btn-warning" v-on:click="unstage_leadFinder();">Cancel <span class="glyphicon glyphicon-remove"></span></button>
																<button type="button" class="btn btn-primary" v-on:click="upsert_leadFinder('connInvite')">Save <span class="glyphicon glyphicon-save"></span></button>
															</div>
															</form>
														</div>
														<div class="tab-pane fade" id="scheduler_inNetworkMessages">
															<div class="pull-right">
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>This (Network Mails) is the type of schedule that sends custom messages to specified recipients from your network/connections.</small>">What &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>Through this feature, you may select specific people or group of people to send messages, notifications or updates. This will help you further categorize your leads into subsets.</small>">Benefits &nbsp;<span class="glyphicon glyphicon-check"></span></label>
																<label data-container="body" data-toggle="popover" data-placement="top" data-content="<small>Follow through the steps on how to fill-up the form and click save.</small>" v-on:click="showSpecificSteps(['step-b1','step-b2','step-b3','step-b4']);">How &nbsp;<span class="glyphicon glyphicon-question-sign"></span></label>
															</div>
															<form>
															<div class="form-group">
																<label class="control-label">Schedule Title</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-b1')"></span>
																<input class="form-control" type="text" v-model="currentSchedule_LeadFinder_sendMessage['title']" v-on:blur="hideStep('step-b1')" v-on:focus="hideStep('step-b1')" data-ident="steps" data-id="step-b1" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 1:</b><br>Its best to name your schedules with unique and short description of the group/lead your are targetting.</small>">
															</div>

															<div class="form-group">
																<label class="control-label">Message Template</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-b2')"></span>
																<select class="form-control" v-model="currentSchedule_LeadFinder_sendMessage['template_id']" v-on:blur="hideStep('step-b2')" v-on:focus="hideStep('step-b2')" data-ident="steps" data-id="step-b2" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 2:</b><br>Select the best note to send your targates or write a new one in the <a href='#' id='templates' onclick='showView(this.id);'>templates</a> section.</small>">
																	<option v-for="nth in emailTemplates" v-bind:value="nth['_template']">{{ nth['_title'] }}</option>
																</select>
															</div>

															<div class="form-group">
																<label class="control-label">Recpients</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-b3')"></span><br>
																<div class="form-group">
																	<input class="form-control input-sm" type="text" placeholder="Press ENTER to search in network..." v-model="linkedin_spyders['search_networkRecipients']" v-on:keyup.enter="liveSearchLinkedin_getNetwork(0);" v-on:blur="hideStep('step-b3')" v-on:focus="hideStep('step-b3')" data-ident="steps" data-id="step-b3" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 3:</b><br>Select recipients among all your connections.</small>">
																</div>

																<div class="form-group">
																	<div style="overflow-x:auto;width: 100%; max-height: 800px;">
																		<table class="table table-striped table-hover">
																			<thead>
																				<tr>
																					<th><input type="checkbox"></th>
																					<th>Targets</th>
																					<th>Occupation</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr v-for="(nth, index) in linkedin_spyders['linkedin_networkRecipients']" :key="index">
																					<!-- <td v-on:click="testingSelected(nth['entityUrn']);"> -->
																					<td>
																						<input type="checkbox" v-model="currentSchedule_LeadFinder_sendMessage['recipients']" :value="extractID(nth['entityUrn'])">
																					</td>
																					<td>
																						<p>
																							{{ nth["miniProfile"]["firstName"] }} 
																							{{ nth["miniProfile"]["lastName"] }}<br>
																						</p>
																					</td>
																					<td>{{ nth["miniProfile"]["occupation"] }}</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																	<br>
																	<div class="form-group">
																		<div class="btn-group">
																			<button type="button" class="btn btn-default" title="Back" v-on:click="liveSearchLinkedin_getNetwork('prev');"><span class="glyphicon glyphicon-chevron-left"></span></button>
																			<button type="button" class="btn btn-default" title="Next" v-on:click="liveSearchLinkedin_getNetwork('next');"><span class="glyphicon glyphicon-chevron-right"></span></button>
																		</div>
																		<select class="form-control pull-right" style="width: 70px;" v-model="linkedin_spyders['linkedin_networkPageRange']" v-on:change="liveSearchLinkedin_getNetwork(0);">
																			<option value="10">10</option>
																			<option value="50">50</option>
																			<option value="100">100</option>
																			<option value="2000">2000</option>
																		</select>
																	</div>
																</div>
															</div>

															<div class="form-group">
																<label class="control-label">Trigger</label>
																<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-b4')"></span>
																<select class="form-control" v-model="currentSchedule_LeadFinder_sendMessage['trigger']" v-on:blur="hideStep('step-b4')" v-on:focus="hideStep('step-b4')" data-ident="steps" data-id="step-b4" class="glyphicon glyphicon-question-sign" data-container="body" data-placement="right" data-content="<small><b>Step 4:</b><br>Properly consider how often you trigger your invites, linkedin has a max of 30,000 connections. You might miss a good amount of leads if you max out your connections.</small>">
																	<option v-for="nth in triggerOptions" v-bind:value="nth['_trigger']">{{ nth['_event'] }}</option>
																</select>
															</div>

															<div class="form-group pull-right">
																<button type="reset" class="btn btn-warning" v-on:click="unstage_leadFinder();">Cancel <span class="glyphicon glyphicon-remove"></span></button>
																<button type="button" class="btn btn-primary" v-on:click="upsert_leadFinder('InNetMessages')">Save <span class="glyphicon glyphicon-save"></span></button>
															</div>
															</form>
														</div>
														<div class="tab-pane fade active in" id="schedules_leadfinder">
															<!-- <div class="form-group">
																<label class="control-label">Filter</label>
																<input class="form-control input-sm" type="text" placeholder="Search...">
															</div>
															<hr> -->

															<div style="overflow-x:auto;width: 100%;max-height: 800px;">
																<table class="table table-striped table-hover">
																	<thead>
																		<tr>
																			<th>Title</th>
																			<th>Trigger</th>
																			<th>Template</th>
																			<th></th>
																			<th>&nbsp;</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr v-for="(nth, index) in scheduleList" :key="index">
																			<td>{{ nth["_title"] }}</td>
																			<td class="text-info">{{ nth["_event"] }}</td>
																			<td>{{ nth["_email"] }}</td>
																			<td>{{ extractComments(nth["_details"]) }}</td>
																			<td>
																				<button href="#" class="btn btn-success btn-sm" title="Edit Schedule" v-on:click="stage_leadFinder(nth)"><span class="glyphicon glyphicon-edit"></span></button>
																				<!-- <a href="#" class="btn btn-warning btn-sm" title="Deactivate Schedule"><span class="glyphicon glyphicon-eye-close"></span></a> -->
																				<button href="#" class="btn btn-danger btn-sm" title="Delete Schedule"  v-on:click="delete_leadFinder(nth)"><span class="glyphicon glyphicon-trash"></span></button>
																			</td>
																		</tr>
																	</tbody>
																</table>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
											<div class="panel panel-default">
												<div class="panel-body">
													<h4>Leads</h4>
													<div class="form-group">
														<label class="control-label">Filter</label>
														<input class="form-control input-sm" type="text" placeholder="Type and press enter to search..." v-model="linkedin_spyders['search_recipients']" v-on:keyup.enter="liveSearchLinkedin(0);">
													</div>
													<div class="form-group">
														<!-- <input type="radio" :value="'List()'" name="leadSearch" v-model="linkedin_spyders['search_filter']">Global Search &nbsp;&nbsp; -->
														<input type="radio" :value="'List(v->PEOPLE)'" name="leadSearch" v-model="linkedin_spyders['search_filter']">People &nbsp;&nbsp;
														<input type="radio" :value="'List(v->COMPANIES)'" name="leadSearch" v-model="linkedin_spyders['search_filter']">Companies
													</div>
													<hr>

													<div style="overflow-x:auto;width: 100%;">
														<table class="table table-striped table-hover">
															<thead>
																<tr>
																	<th>Targets</th>
																	<th>Occupation</th>
																	<th>Industry</th>
																	<th>Relations</th>
																	<!-- <th></th> -->
																</tr>
															</thead>
															<tbody>
																<tr v-for="(nth, index) in linkedin_spyders['linkedin_recipients']" :key="index">
																	<td>
																		<p>
																			{{ nth["hitInfo"]["com.linkedin.voyager.search.SearchProfile"]["miniProfile"]["firstName"] }} 
																			{{ nth["hitInfo"]["com.linkedin.voyager.search.SearchProfile"]["miniProfile"]["lastName"] }}<br>
																		</p>
																	</td>
																	<td>
																		<!-- <span class="label label-danger">C.E.O</span><span class="label label-success">Programmer</span> -->
																		{{ nth["hitInfo"]["com.linkedin.voyager.search.SearchProfile"]["miniProfile"]["occupation"] }}
																	</td>
																	<td>{{ nth["hitInfo"]["com.linkedin.voyager.search.SearchProfile"]["industry"] }}</td>
																	<td>
																		<!-- primary: You are currenlty connected -->
																		<span v-if="nth['hitInfo']['com.linkedin.voyager.search.SearchProfile']['distance']['value'] == 'DISTANCE_1'"><span class="label label-primary">Primary</span></span>
																		<!-- secondary: Friends of your friends -->
																		<span v-if="nth['hitInfo']['com.linkedin.voyager.search.SearchProfile']['distance']['value'] == 'DISTANCE_2'"><span class="label label-warning">Secondary</span></span>
																		<!-- primary: Out of your connectedion -->
																		<span v-if="nth['hitInfo']['com.linkedin.voyager.search.SearchProfile']['distance']['value'] == 'OUT_OF_NETWORK'"><span class="label label-danger">Unrelated</span></span>		
																	</td>
																	<!-- <td>
																		<button class="btn btn-success btn-sm" title="Send Message" v-if="checkRelationship(nth) ? true : false" v-on:click="sendMessage(nth, 'this message');"><span class="glyphicon glyphicon-envelope"></span></button>
																		<button class="btn btn-default btn-sm" title="Invite to Network" v-if="!checkRelationship(nth) ? true : false" v-on:click="sendConnection_Invite(nth);"><span class="glyphicon glyphicon-link"></span></button>
																	</td> -->
																</tr>
															</tbody>
														</table>
													</div>

													<div lang="form-group"><label>{{ (linkedin_spyders['search_startCount']	+ 10) + " / " + linkedin_spyders['search_total'] }}</label></div>
													<div class="form-group pull-left">
														<div class="btn-group">
															<button type="button" class="btn btn-default" title="Back" v-on:click="liveSearchLinkedin('prev');"><span class="glyphicon glyphicon-chevron-left"></span></button>
															<button type="button" class="btn btn-default" title="Next" v-on:click="liveSearchLinkedin('next');"><span class="glyphicon glyphicon-chevron-right"></span></button>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
					</div>
				</div>

				<!-- Manual -->
					<div class="modal" id="manualModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">User Manual</h4>
								</div>
								<div class="modal-body">
									<small>Insert video tutorials here...</small>
								</div>
							</div>
						</div>
					</div>

				<!-- Terms of Service -->
					<div class="modal" id="termsModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">Terms of service</h4>
								</div>
								<div class="modal-body">
									<small>Insert Terms of service here...</small>
								</div>
							</div>
						</div>
					</div>

				<!-- X-press -->
					<div class="modal" id="xpressModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title">XPress</h4>
								</div>
								<div class="modal-body">
									
									<!-- general settings -->
										<div v-if="xpress_view == 'xpress-Step1'">
											<div class="form-group">
												<label class="control-label">License Key</label>
												<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('step-gs2-1')"></span>
												<input class="form-control" type="text" v-model="generalSettings['license']" oncopy="return false" :disabled="generalSettings['status']" data-container="body"  data-ident="steps" data-id="step-gs2-1" data-placement="right" data-content="<small>Your license key is your unique ID and will serve as your activation number. Once your key has been activated, it cannot be re-used.<br><br>Refer to the <a href='#'><i>License Agreement</i></a> for more info.</small>">
											</div>
											<div class="form-group">
												<label class="control-label">Email</label>
												<input class="form-control" type="email" v-model="generalSettings['email']">
											</div>
											<div class="form-group">
												<label class="control-label">Password</label>
												<input class="form-control" type="password" v-model="generalSettings['password']" oncopy="return false" onpaste="return false">
											</div>
											<div class="form-group pull-right">
												<span>
													You are remotely 
													<span v-if="generalSettings['remoteStatus']" class="label label-primary">ACTIVE</span>
													<span v-if="!generalSettings['remoteStatus']" class="label label-danger">INACTIVE</span>
												</span>
												&nbsp;&nbsp;&nbsp;
												<button type="submit" class="btn btn-primary" v-on:click="activateUser();" :disabled="generalSettings['remoteStatus']">Activate</button>
												<button type="submit" class="btn btn-success" v-on:click="saveCredentials('{ \'license\': \'' + generalSettings['license'] + '\' }', '/../config/local.json');" :disabled="generalSettings['status']">Save</button>
												<button type="submit" class="btn btn-danger" v-on:click="resetCredentials('/../config/local.json');" :disabled="!generalSettings['status']">Reset</button>
												<button class="btn btn-success" v-on:click="xpress_view = 'xpress-Step2';hideSteps();">Next <span class="glyphicon glyphicon-triangle-right"></span></button>
											</div>
										</div>

									<!-- log into linkedin account -->
										<div v-if="xpress_view == 'xpress-Step2'">
											<div class="row">
												<div class="col-xl-6 col-lg-6 col-md-6">
													<h6 style="margin: 0px;">Step 1</h6>- Please log into your linkedin account using our in-app Linkedin website. <br>- Click on "Linkedin" in the sites menu on the upper left corner of the window.
												</div>
												<div class="col-xl-6 col-lg-6 col-md-6">
													<center><img src="../img/step1.png" class="img-responsive"></center>
												</div>
											</div><hr>
											<div class="row">
												<div class="col-xl-6 col-lg-6 col-md-6">
													<h6 style="margin: 0px;">Step 2</h6>- Provide your credentials accordingly. Your account's credentials are NEVER stored in out server, so rest assured we respect your privacy.
												</div>
												<div class="col-xl-6 col-lg-6 col-md-6">
													<center><img src="../img/step2.png" class="img-responsive"></center>
												</div>
											</div><hr>
											<div class="row">
												<div class="col-xl-6 col-lg-6 col-md-6">
													<h6 style="margin: 0px;">Step 3</h6>- Run a search to confirm your account is working properly. Keep in mind that the system captures the site's cookies & token. Read the Terms of Use regarding <a href="#">cookie/token sharing</a>.
												</div>
												<div class="col-xl-6 col-lg-6 col-md-6">
													<center><img src="../img/step3.png" class="img-responsive"></center>
												</div>
											</div><hr>
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12">
													<!-- <h6 style="margin: 0px;">Step 3</h6>- When confirmed, head back home. -->
													<h6 style="margin: 0px;">Step 4</h6>- If you can confirm that there are results in your search, then your account is working properly. You may now head back home.
												</div>
											</div>
											<br>
											<div class="form-group pull-right">
												<button class="btn btn-warning" v-on:click="xpress_view = 'xpress-Step1';hideSteps();"> <span class="glyphicon glyphicon-triangle-left"></span> Back</button>
												<button class="btn btn-success" v-on:click="xpress_view = 'xpress-Step3';hideSteps();">Next <span class="glyphicon glyphicon-triangle-right"></span></button>
											</div>
										</div>

									<!-- select schedule type -->
										<div v-if="xpress_view == 'xpress-Step3'">
											<div class="row">
												<div class="col-xl-12 col-lg-12 col-md-12">
													<center>
														<span class="lnr lnr-location project-x-homeIcon"></span><br>
														<p>Create <b>Lead Finders</b> using xPress</p>
														<button class="btn btn-warning" v-on:click="xpress_view = 'xpress-Step2';hideSteps();"> <span class="glyphicon glyphicon-triangle-left"></span> Back</button>&nbsp;&nbsp;
														<button class="btn btn-primary" v-on:click="xpress_view = 'xpress-Step4-Invites-B';hideSteps();">Invites</button>
													</center>
												</div>
												<!-- <div class="col-xl-6 col-lg-6 col-md-6">
													<center>
														<span class="lnr lnr-user project-x-homeIcon"></span><br>
														<p>Create <b>Profile Scanner</b> using XPress</p>
														<button class="btn btn-success">Profile Scanner</button>
													</center>
												</div> -->
											</div>
										</div>

									<!-- lead finders -->
										<div v-if="xpress_view == 'xpress-Step4-Invites-B'">
											<div class="form-group">
												<label>Search Keys</label>
												<span class="glyphicon glyphicon-question-sign icon-popover" v-on:click="showStep('xpress-Step4-Invites-AInput')"></span>
												<textarea class="form-control" rows="4" data-container="body"  data-ident="steps" data-id="xpress-Step4-Invites-AInput" data-placement="right" data-content="<small>List our your search keys here to create your schedules in one go.</small>" v-model="invite_listText" v-on:keyup="xpress_countLength()"></textarea>
											</div>
											<div class="form-group pull-right">
												<button type="submit" class="btn btn-warning" v-on:click="xpress_view = 'xpress-Step3';hideSteps()"><span class="glyphicon glyphicon-triangle-left"></span> Back</button>
												<button type="submit" class="btn btn-success" :disabled="!invite_listLength" v-on:click="xpress_view = 'xpress-Step4-Invites-C';hideSteps()">Next <span class="glyphicon glyphicon-triangle-right"></span></button>
											</div>
										</div>
										<div v-if="xpress_view == 'xpress-Step4-Invites-C'">
											<div style="overflow-x:auto;width: 100%;">
												<table class="table table-striped table-hover">
													<thead>
														<tr>
															<th>Title</th>
															<th>Template</th>
															<th>Keyword</th>
															<th>Limit</th>
															<th>Trigger</th>
														</tr>
													</thead>
													<tbody>
														<tr v-for="(nth, index) in invite_listText_Table" :key="index">
															<!-- v-model="answ[index]" -->
															<td><div class="form-group"><input type="text" v-model="xpress_invites[index]['title']"></div></td>
															<td>
																<div class="form-group">
																	<select class="form-control" v-model="xpress_invites[index]['template']">
																		<option v-for="tth in emailTemplates" v-bind:value="tth['_template']">{{ tth['_title'] }}</option>
																	</select>
																</div>
															</td>
															<td><div class="form-group"><input type="text" v-model="xpress_invites[index]['recipient']['searchKey']"></div></td>
															<td><div class="form-group"><input type="number" v-model="xpress_invites[index]['recipient']['n_recipients']"></div></td>
															<td>
																<div class="form-group">
																	<select class="form-control" v-model="xpress_invites[index]['trigger']">
																		<option v-for="xth in triggerOptions" v-bind:value="xth['_trigger']">{{ xth['_event'] }}</option>
																	</select>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
											<br>
											<div class="form-group pull-right">
												<button type="submit" class="btn btn-primary" v-on:click="xpress_createInvites();">Submit <span class="glyphicon glyphicon-save"></span></button>
											</div>
											<div class="form-group pull-left">
												<button type="submit" class="btn btn-warning" v-on:click="xpress_view = 'xpress-Step4-Invites-B';hideSteps();"><span class="glyphicon glyphicon-triangle-left"></span> Back</button>
											</div>
										</div>

									<br>&nbsp;
								</div>
								<!-- <div class="modal-footer">
									<div class="btn-group btn-group-sm pull-right">
										<button class="btn btn-default"><span class="glyphicon glyphicon-triangle-left"></span>&nbsp;Back</button>
										<button class="btn btn-default">Next&nbsp;<span class="glyphicon glyphicon-triangle-right"></span></button>
									</div>
								</div> -->
							</div>
						</div>
					</div>
			</div>
		</div>
		
		<!-- project-x -->
		<script src="../config/config.json"></script>
		<script src="../js/project-x.js"></script>
		<script src="../js/project-x-components.js"></script>

		<script type="text/javascript">
			function showView(view){ projectx.showView(view); }
			function tourStep(show){ projectx.tourStep(show); }

			// $('#xpressModal').on('hidden.bs.modal', function () { projectx.hideSteps(); });
		</script>
	</body>
</html>